# Configurações de Credenciais do SIGA para Login Automático
# ATENÇÃO: Nunca envie ou submeta este arquivo preenchido (.env) ao repositório de controle de versão!
# Renomeie este arquivo para ".env" e preencha as variáveis abaixo:

SIGA_USUARIO=
SIGA_SENHA=
